[flake8]
max-line-length = 88
ignore = F403,F405,W504,F841,E501
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .env
per-file-ignores =
    war/gui/*.py:F403,F405,E501
    war/gui/*/*.py:F403,F405,E501